{% extends "base.html" %}

{% block content %}

    <div class="list-group">
        {% for quest in questions %}
            <h3 class="list-group-item list-group-item-action">{{quest.title}}</h3>
            <div class="list-group btn-group">
                {% for answ in quest.answers %}
                    <button type="radio" class="list-group-item list-group-item-action">{{answ.text}}</button>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock content %}